#root .characterButton{
    width: 15em;
    height: 6em;
    margin: 1em;
}

#characterInfo{
    display: flex;
    justify-content: center;
}
#icon{
    margin: 1em;
    display: flex;
    img{
        width: 13em;
        height: 13em;
    }

}
#inventory  {
    padding: 2em;
    display: flex;
    flex-direction: column;

}
#root #stats{
    padding: 2em;
    display: flex;

}

#items{
    padding: 2em;
    display: flex;

}

